{% extends "index.twig" %}

{% block css %}product.css{% endblock %}

{% block body %}
<div class="products">

    {% include 'productItem.twig' %}

</div>
<button class="show-more-btn">More</button>
{% endblock %}