{% extends "index.twig" %}

{% block body %}

{% block sign %}
{% endblock %}

<div class="galleryWrapper">
    <h1>{{ img.title }}</h1>
    <p>Количество просмотров: {{ img.views }}</p>
    <a href="/">X</a>
    <img src="{{ img.url }}" alt="{{ img.title }}">
</div>

{% endblock %}

{% block cart %}
{% endblock %}